.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  background-color: #121212;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .footer-container {
    padding: 120px 20px 20px 20px;
  }
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #fff;
  font-weight: bold;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #525252;
  margin-bottom: 30px;
  position: relative;
}

.footer-contato li::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: red;
  left: -10px;
  top: 17px;
}

.footer-contato a {
  color: #525252;
}

.footer .subtitulo {
  max-width: 5ch;
  color: #000;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }

  .footer .subtitulo {
    color: #fff;
  }
}
